aiocache==0.11.1
aiohttp==3.7.4.post0; python_version >= "3.6" and python_full_version >= "3.8.0"
aiosqlite==0.16.1; python_version >= "3.7" and python_version < "4.0"
astunparse==1.6.3; python_full_version >= "3.8.0"
async-property==0.2.1
async-timeout==3.0.1; python_version >= "3.6" and python_full_version >= "3.8.0"
asyncpg==0.24.0; python_full_version >= "3.6.0"
attrs==21.2.0; python_version >= "3.6" and python_full_version >= "3.8.0"
braceexpand==0.1.7; python_full_version >= "3.8.0"
cffi==1.14.6; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
chardet==4.0.0; python_version >= "3.6" and python_full_version >= "3.8.0"
click==8.0.1; python_version >= "3.6" and python_full_version >= "3.8.0"
colorama==0.4.4; python_version >= "3.6" and python_full_version >= "3.8.0" and platform_system == "Windows"
discord.py @ git+https://github.com/Rapptz/discord.py.git@master ; python_full_version >= "3.8.0"
idna==3.2; python_version >= "3.6" and python_full_version >= "3.8.0"
import-expression==1.1.4; python_full_version >= "3.8.0"
iso8601==0.1.16; python_version >= "3.7" and python_version < "4.0"
jishaku @ git+https://github.com/Gorialis/jishaku.git@master ; python_full_version >= "3.8.0"
multidict==5.1.0; python_version >= "3.6" and python_full_version >= "3.8.0"
pycparser==2.20; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pynacl==1.4.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pypika-tortoise==0.1.1; python_version >= "3.7" and python_version < "4.0"
pytz==2021.1; python_version >= "3.7" and python_version < "4.0"
six==1.16.0; python_full_version >= "3.8.0"
tortoise-orm==0.17.6; python_version >= "3.7" and python_version < "4.0"
typing-extensions==3.10.0.0; python_version >= "3.7" and python_full_version >= "3.8.0" and python_version < "4.0"
ujson==4.1.0; python_version >= "3.6"
yarl==1.6.3; python_version >= "3.6" and python_full_version >= "3.8.0"
